<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'redditbot/bot.css'%}">
    <link rel="stylesheet" href="{% static 'home/bootstrap/css/bootstrap.min.css'%}">

    <script src="{% static 'home/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'home/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/script.js' %}"></script>
    <title>
        {% block title %} Redditbot {% endblock title %}
    </title>
</head>

<body>
    <div class="wrapper">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/bot">Fathom/redditbot</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% block navbar %}
                            <li>
                                <a href="/bot">Home</a>
                            </li>
                            <li>
                                <a href="/bot/hunter">hunter</a>
                            </li>
                            <li>
                                <a href="/bot/candidates">candidates</a>
                            </li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {% block base_body %}
        <div class="searchpalette row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="">
                    {% block searchpalette %}{% endblock searchpalette %}
                </div>
            </div>
        </div>
        <div class="resultposts row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="result-wrapper">
                    {% block resultposts %}{% endblock resultposts %}
                </div>
            </div>
        </div>
        {% endblock base_body %}
        <div class="appfooter">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="">
                        <p>
                            <span class="label label-info">Footer</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>