{% extends "redditbot/base.html "%} {% block title%}**Hunter**{% endblock title%} {% block searchpalette %}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Fodder
            </div>
            <div class="panel-body">
                <form action="" id="candidate_fetch">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group">
                                <select name="fodder">
                                    {% for fodder in fodders %}
                                    <option value="{{fodder.id}}">{{fodder.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">subreddits:</span>
                                <input class="form-control emph1" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" value="{{fodders.0.sub_str}}"
                                    placeholder="subreddits" name="s">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <a id="add_subreddit">add</a>
                                    </button>
                                </span>
                                <select class="form-control" name="subreddit_list" id="subreddit">
                                    {% for subreddit in fodders.0.subreddits.all %}
                                    <option value="{{subreddit.name}}">{{subreddit.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">https://redd.it/</span>
                                <input class="form-control emph1" type="text" name="p" placeholder="post id">
                            </div>
                            <br>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">limit</span>
                                <input class="form-control" type="number" name="l" size="2" placeholder="limit" value="{{fodders.0.lim}}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" name="getsubs">
                                <span class="glyphicon glyphicon-screenshot"> </span>Hunt</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%; min-width:2em;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock searchpalette %} {% block resultposts %}
<div class="row" id="results">
    <div class="col-md-9">
        <h2>Found {{data.count}} candidates ({{data.submissions_searched}} submissions searched).</h2>
        <h3>in time</h3>
        <ul class="list-unstyled candidateslist">
            {% for candidate in data.candidates %}
            <li id="candidate{{forloop.counter}}" class="">
                <div class="well well-lg">
                    <div class="numcircle">
                        {{forloop.counter}}
                    </div>
                    <h3>{{candidate.candidate}}</h3>
                    <h4>
                        <a href='http://reddit.com/{{candidate.com.sub.sub_link_id}}'>{{candidate.com.sub.tokens}}</a>
                    </h4>
                    <div>
                        <a href="http://reddit.com/r/{{candidate.com.sub.subreddit}}">{{candidate.com.sub.subreddit}}</a>
                        <a href="https://redd.it/{{candidate.com.sub.sub_link_id}}">{{candidate.com.sub.sub_link_id}}</a>
                        <a href="">{{candidate.com.score}}</a>
                    </div>
                    {% for sentence in candidate.comment_tokens %}
                    <p class="words {{sentence.class}}">
                        {% for word in sentence.sentence %}
                        <span class="{{word.class}}" data-toggle="" title="{{word.tag.pos}},{{word.class}}" data-index="" quantities="">{{word.word}}</span>                        
                        {% endfor %}
                    </p>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <div class="well well-lg">
            <h3>candidates</h3>
            <ol>
                {% for candidate in data.candidates %}
                <li>
                    <a href="#candidate{{forloop.counter}}">{{candidate.candidate}}</a>
                </li>
                {% endfor %}
                <li></li>
            </ol>
        </div>
    </div>
</div>
{% endblock resultposts %}