{% extends "redditbot/base.html "%}
{% block title%} Bot Home {% endblock title%}
{% block searchpalette %}
<div>
    <div class="panel panel-default">
        <div class="panel-heading">Search Options</div>
        <div class="panel-body">

        </div>
    </div>
</div>
{% endblock searchpalette %}
{% block resultposts %}
<div>
    <h2>Found {{numofsubs}} submissions with {{numofcomments}} potential comment candidates</h2>
    <ul class="list-unstyled submissionslist">
        {% for submission in submissions %}
        <li class="{{submission.hascomment}}">
            <div class="well well-lg">
                <h3>
                    <a href='http://reddit.com{{submission.url}}'>
                        {{submission.title}}
                    </a>
                </h3>
                <div>
                    <a href="http://reddit.com/r/{{submission.subreddit}}">/{{submission.subreddit}}</a>
                    <a href="http://reddit.com/r/{{submission.subreddit}}">{{submission.score}}</a>
                    <a href='http://reddit.com'>{{submission.domain}}</a>
                </div>
                <h4>Comments</h4>
                <ul class="list-unstyled commentlist">
                    {% for comment in submission.comments %}
                    <li class="{{comment.hasdigit}}">
                        <div class="well">
                            <blockquote>{{ comment.original }}</blockquote>
                            <blockquote class="splitcommentwrap {{comment.hasdigit}}">
                                <ul class="comment">
                                    {% for word in comment.wordlist %}
                                    <li class="comment-word {{word.classes}}">
                                        <div class="">
                                            <div>
                                                <span>Word:</span><span>{{word.text}}</span>
                                            </div>
                                            <div>
                                                <span>Sentence:</span><span class="wordsbefore">{{word.before}}</span><span class="wordtext">{{ word.text }}</span><span class="wordsafter">{{word.after}}</span>
                                            </div>
                                            <div>
                                                <span>Symbols:</span>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </blockquote>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock resultposts %}